p::first-letter{
    font-size: 50px;
}
p::first-line{
    background-color: pink;
}
h1::after{
    content: "~";
}
h1::before{
    content: "~";
}
p::selection{
    background-color: mediumvioletred;
}
a:visited{
    color: crimson;
}
a:active{
    color:blue;
}
input:focus{
    background-color: blueviolet;
}
h1:hover{
    color:bisque;
}